.table-cell {
    -fx-text-fill:white;
    }
    
    .table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    }

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:  #2d343a;
}

